
@{
    ViewBag.Title = "password2";
    Layout = "~/Views/Shared/_userLayout.cshtml";
}
<div style="margin-top:100px"></div>
<h2>password2</h2>
<form action="/user/password3" method="post">
    <table>
        <tr>
            <td>Enter New password : </td>
            <td><input type="password" name="password" class="form-control" /></td>
        </tr>
        <tr><td></td><td></td></tr>
        <tr><td></td><td><input type="submit" value="next" class="form-control"/></td></tr>
    </table>
</form>


